@tailwind base;
@tailwind components;
@tailwind utilities;

/* Readex pro google font 200,300,400,5000,700*/
html {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.background-image {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(30, 12, 23, 0.22)
    ),
    url("../public/backgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  min-height: 100vh;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onBoarding input[type="radio"] {
  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./components/imgs/backgroundTinder.webp");
}

.onBoarding input[type="radio"]:checked + label {
  background: #fe316e;
  border: none;
  color: white;
  backdrop-filter: 7px;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #de3500 #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #de3500 #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
